<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function checkField(val) {
            if (val.checked) {
                val.value = 1;
            } else {
                val.value = 0;
            };
            alert(val.value);

        }
    </script>

</head>

<body>

    <input type="checkbox" name="txt" value="Hello" checked onchange="checkField(this)">

</body>

</html>