{{extend './index.html'}} {{block 'table'}}
<div class="container">
    <h2>表格</h2>{{block 'add'}}{{/block}}

    <div class=table-responsive>
        <table class="table table-striped table-bordered">
            <thead class="bg-primary">
                <% for (var i=0;i<data.columns.length;i++){ %>
                    <th>
                        <%=data.columns[i]%>
                    </th>
                    <%}%>
                        <th>管 理</th>
            </thead>
            <tbody>
                <% for (var i=0;i<data.values.length;i++){%>
                    <tr>
                        <% for (var j=0;j<data.values[i].length;j++){%>
                            <td>
                                <%=data.values[i][j]%>
                            </td>
                            <%}%>

                                <td>
                                    <a href={{block "edithref"}}{{/block}}?id=<%=data.values[i][0]%>> 修改 </a>
                                    <a href={{block "delhref"}}{{/block}}?id=<%=data.values[i][0]%> > 删除</a>

                                </td>
                    </tr>
                    <%}%>
            </tbody>
        </table>
    </div>
</div>
{{/block}}