{{extend './index.html'}} {{block 'table'}}
<div class="container">
    <h2>表格</h2>
    <div class=table-responsive>
        <table class="table table-striped table-bordered">
            <thead class="bg-primary">
                <% for (var i=0;i<data.columns.length;i++){ %>
                    <th>
                        <%=data.columns[i]%>
                    </th>
                    <%}%>
                        <th>管理</th>
            </thead>
            <tbody>
                <% for (var i=0;i<data.values.length;i++){%>
                    <tr>
                        <% for (var j=0;j<data.values[i].length;j++){%>
                            <td>
                                <%=data.values[i][j]%>
                            </td>
                            <%}%>
                                <td><a href="#">修改</a><button>保存</button><a>提交</a></td>
                    </tr>
                    <%}%>
            </tbody>
        </table>
    </div>
</div>
{{/block}}